doctype html
html
    head
        block head_js
        block head_css
            link(rel="stylesheet", href="../src/css/styles.css")
        meta(charset="UTF-8")
        title learnin of sass(scss)-d3-gulp
    body
        header
        main
            h1.heading Хола ебучий мир.
        footer
